@model List<eCommerce.Models.CartItem>

@{
    ViewData["Title"] = "Your Cart";
}

<h2>Your Cart</h2>

@if (!Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" width="80" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price* item.Quantity).ToString("C")</td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Cart"
                           asp-action="Remove"
                           asp-route-id="@item.ProductId">
                            Remove
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
