@model List<eCommerce.Models.CartItem>

@{
    ViewData["Title"] = "Your Cart";
}

<h2>Your Cart</h2>

@if (!Model.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.ImageUrl" width="80" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td>
                    <td>
                        <form asp-controller="Cart" asp-action="UpdateQuantity" method="post" class="d-flex">
                            <input type="hidden" name="id" value="@item.ProductId" />

                            <input type="number" name="quantity"
                                   value="@item.Quantity"
                                   min="1"
                                   class="form-control text-center"
                                   style="width: 80px;" />

                            <button type="submit" class="btn btn-sm btn-primary ms-2">
                                Update
                            </button>
                        </form>
                    </td>

                    <td>@(item.Price* item.Quantity).ToString("C")</td>
                    <td>
                        <a class="btn btn-danger"
                           asp-controller="Cart"
                           asp-action="Remove"
                           asp-route-id="@item.ProductId">
                            Remove
                        </a>
                    </td>
                    <td>@(item.Price* item.Quantity).ToString("C")</td>

                </tr>
            }
        </tbody>
    </table>
    
    decimal total = Model.Sum(i => i.Price * i.Quantity);


<tfoot>
    <tr>
        <td colspan="4" class="text-end"><strong>Total:</strong></td>
        <td colspan="2"><strong>@total.ToString("C")</strong></td>
    </tr>
</tfoot>
 <p></p>
    @if (Model.Any())
    {
        <a class="btn btn-success btn-lg mt-3"
           asp-controller="Cart"
           asp-action="Checkout">
            Proceed to Checkout
        </a>
    }


}
